@import "fonts";
@import 'settings';
@import 'foundation';

$cm : #FF9900;
$cs : #009966;

.nosroll{
    overflow:hidden !important;
}

.clear{
    clear:both;
}
.po-relative{
    position:relative;
}
html,body{
    overflow-x:hidden;
    width:100%;height:100%;
    position:relative;
}

img{
    margin:0;
    display:block;
    max-width:100%;
}
*{
    box-sizing: border-box;
    outline: none;
}

a{
    text-decoration: none;
}
.main{
    min-height:500px;
}

.top-web{
    height:45px;
    overflow-y: hidden;
    background:$cm;
    @include fluid-type(10, 12, 320, 1900);
    font-weight: 500;
    padding:7px 0;
    color:#fff;
    @media screen and (max-width: 420px) {
        padding-top:3px;
        height:42px;
      }
}
.text-top{
    padding-top:3px;


    font{
        vertical-align: middle;
        font-size:18px;
    }
}
.tel-top{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width : 115px;
    display:inline-block;
}
.text-address{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display:inline-block;

}

@media screen and (max-width: 420px) {
    .text-address{
      display:none !important;
    }
  }

.social{
    display:block;
    margin:0;
    li{
        display:inline-block;
        margin-left:10px;
        a{
            width:40px;height:30px;
            color:#fff;
            font-size:21px;
            padding:2px;
        }
        &:first-child {
            a{
              font-size:18px;
            }
        }
    }
}

.logo{
    display:block;
    padding:10px 0;
    @media screen and (max-width: 520px) {
        img{
            width:80px;
        }
      }
}

.ilang{
    width:70px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    cursor: pointer;
    img {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        display:inline-block;
    }
    @media screen and (max-width: 980px) {
        left: 40%;
        -webkit-transform: translate(-40%, -50%);
        transform: translate(-40%, -50%);
      }
}

.slide{
    width:100%;
    margin:0;padding:0;
    position:relative;
    &.other-page{

        @media screen and (max-width: 500px) {
            margin-top:50px;
          }
    }

    &.slick-dotted{
        margin-bottom:0 !important;
    }
    .slick-dots{
        bottom:32%;
        max-width:300px;
        left:10%;
        text-align: left;
        @media screen and (max-width: 639px) {
            width:20px;
            bottom:30%;
            left:92%;

          }

        li.slick-active button:before {
            opacity: 1;
            color: $cm;
        }
        li button:before {
            font-size: 15px;
            line-height: 20px;
            color: #666;
        }
         li {
            width: 17px;
            height: 17px;
            margin: 0 2px;
        }

    }


    .item{
        display:block;
        float:left;
        position:relative;

        .text-slide{
            @include fluid-type(10, 21, 320, 1960);

            position:absolute;
            top:30%;
            left:-20%;
            opacity: 0;
            z-index: 5;
            max-width:700px;
            padding:10px;
            color:#fff;
            -webkit-transition: all 1.2s; /* For Safari 3.1 to 6.0 */
            transition: all 1.2s;

            h1{
                font-family: 'Poppins';
                font-weight: bold;
                @include fluid-type(14, 52, 320, 1920);
            }
            &.ani{
                left:10%;
                opacity:1;
            }

            @media screen and (max-width: 639px) {
                max-width:80%;
              }

        }
    }
    img{
        width:100%;
        display:block;
    }
}

header{
    display:block;
    width:100%;
    position:absolute;
    top:45px;
    left:0;
    z-index: 9;
    background-color:rgba(255, 255, 255,0.7);
    padding:0;
    @media screen and (max-width: 420px) {
        top:42px;
      }
    .menu{
        display:block;
        margin:auto;padding:0;
        max-width:700px;
        @media screen and (min-width: 1699px) {
            max-width:800px;
        }
        li{
            ul.drop-down{

                display:none;
                position:absolute;
                top:100%;
                left:0;
                box-sizing: border-box;
                margin-left:0;
                white-space: nowrap;
                @media screen and (max-width: 980px) {
                   display:block;
                }
                @media screen and (min-width: 980.5px) {
                    // border:2px solid $cm;
                 }


                li{

                    box-sizing: border-box;
                    display:block;width:100%;
                    margin:0;
                    float:left;
                    color:#fff;
                    a{

                        display:block;
                        padding:5px 15px;
                        white-space: nowrap;


                        @include fluid-type(11, 12, 320, 1900);
                        @media screen and (min-width: 1699px) {
                            padding:5px 10px;
                        }
                        @media screen and (max-width: 980px) {
                            padding-left:50px;
                            color:#666666;
                            &:before{
                                content:'-';
                                position:absolute;
                                left:30px;
                                top:5px;

                            }
                         }

                    }

                    &.active{
                        a{
                            background-color:#fff;
                            color:$cm;
                            &:before{
                                content:'-';
                                position:absolute;
                                left:5px;
                                top:5px;
                                @media screen and (max-width: 980px) {
                                &:before{
                                    left:30px;

                                }
                                &:hover{
                                    color:#666;
                                    &:before{
                                        left:30px;

                                    }
                                }

                            }

                            }
                        }
                    }

                }
            }
            position:relative;
            float:left;
            display:block;

            a{ display:block;
                padding:30px 15px;
                text-transform: uppercase;
                font-family: 'Poppins';
                font-weight: bold;
                color:#666666;
                @include fluid-type(12, 16, 320, 1900);
                -webkit-transition: all .5s; /* For Safari 3.1 to 6.0 */
                transition: all .5s;
                @media screen and (max-width: 980px) {
                    padding:10px;
                 }

            }
            &:hover,&.active{
                a{
                    background-color:$cm;
                    color:#fff;
                    // font-weight: bold;
                }
                ul.drop-down{
                    // display:block;
                    li{

                        &:hover,&.active{
                            a{
                                // padding-left:22px;
                                position:relative;
                                &:before{
                                    content:'-';
                                    position:absolute;
                                    left:5px;
                                    top:5px;
                                    @media screen and (max-width: 980px) {



                                            left:30px;



                                     }

                                }

                            }
                        }



                    }

                }
            }

        }
        @media screen and (max-width: 990px) {
            display:none;
            &.open{
             display:block;
             position:absolute;z-index: 11;
             width:100%;

             max-width:320px;
             top:100%;right:0;
             background:#fff;
             margin:0;
             li{
                 width:100%;
                 display:block;
                 ul.drop-down{
                     position:relative;
                 }
                 &:hover{

                 }

             }
            }
          }

          @media screen and (max-width: 520px) {
            &.open{
                max-width:520px;
            }
          }

    }

    &.open{
        background:#fff;
    }
}

.gotop{
    cursor:pointer;
    position:absolute;
    right:10%;
    top:-25px;
    height:50px;
    width:50px;
    border-radius: 50%;
    -webkit-box-shadow: 1px 8px 14px -5px rgba(112,110,112,1);
-moz-box-shadow: 1px 8px 14px -5px rgba(112,110,112,1);
box-shadow: 1px 8px 14px -5px rgba(112,110,112,1);
    img{
        width:100%;
    }
}
footer{
    padding-top:30px;
    padding-bottom:30px;
    min-height:200px;
    background-color:#999999;
    color:#fff;
    position:relative;
    @include fluid-type(12, 14, 320, 1900);
    table {
        margin-top:15px;
        tr {
            margin:5px 0;
            td {
                @include fluid-type(12, 14, 320, 1900);
                a{
                    color:#fff;

                    &:hover,&:active,&:focus{
                        color:$cm;
                    }
                }
              }
        }
    }
}
.menu-footer{
    display:block;
    padding-top:17px;
    li{
        display:block;
        margin-bottom:5px;
        a{
            padding:10px;
            color:#fff;
            @include fluid-type(12, 14, 320, 1900);
        }
        &:hover,&.active{
            a{
                font-weight:bold;
                color:$cm;
            }
        }
    }
    @media screen and (max-width: 639px) {
        margin-left:0;
        padding-top:20px;
        max-width:320px;
        margin: 0 auto;
        text-align:center;
        li{
            display:inline-block;
            margin-bottom:10px;
            a{
                padding:5px 10px;
            }
        }
      }

}
.icon-footer{
    font-size:21px;
    width:40px;

}
.text-company{
    padding-top:20px;
    @include fluid-type(12, 14, 320, 1900);
    @media screen and (max-width: 639px) {
        padding-top:7px;
        padding-left:10px;
      }
}



#nav-icon2 {
    width:30px;
    height:45px;
    display:none;
    position:absolute;
    left:75%;
    top:30%;
    cursor: pointer;
    margin:auto;
    transform: translate(-50%,-50%);
    @media screen and (max-width: 990px) {
      display:block;
    }
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }




  /* Icon 2 */


  #nav-icon2 span {
    display: block;
    position: absolute;
    height: 5px;
    width: 50%;
    background: #da5922;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  #nav-icon2 span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
  }

  #nav-icon2 span:nth-child(odd) {
    left:0px;
    border-radius: 9px 0 0 9px;
  }

  #nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
    top: 0px;
  }

  #nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
    top: 10px;
  }

  #nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
    top: 20px;
  }

  #nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  #nav-icon2.open span:nth-child(1) {
    left: 5px;
     top: 7px;
  }

  #nav-icon2.open span:nth-child(2) {
    left: calc(50% - 5px);
    top: 7px;
  }

  #nav-icon2.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
  }

  #nav-icon2.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
  }

  #nav-icon2.open span:nth-child(5) {
    left: 5px;
    top: 12px;
  }

  #nav-icon2.open span:nth-child(6) {
    left: calc(50% - 5px);
    top: 12px;
  }




// Global styles
@include foundation-global-styles;
@include foundation-forms;
@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
// Helpers
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
@include foundation-prototype-classes;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-tabs;
@include foundation-reveal;

.imodal{
    display:none;
    width:100%;height:100%;z-index:99;
    left:0;top:0;
    background-color: rgba(0,0,0,0.5);
    position:fixed;
    .imodal-content{
        max-width:300px;
        width:100%;
        height:140px;
        background:$cm;
        z-index: 100;
        top:50%;left:50%;
        margin-top:-70px;
        margin-left:-150px;
        position:fixed;
        animation:animatetop 1.7s;
        border:2px solid #fff;
    }
}

@keyframes animatetop{from{top:0;opacity:0} to{top:50%;opacity:1}}

.list-lang{
    display:block;
    width:100%;
    float:left;
    margin-left:0;
    li{
        display:block;
        width:100%;
        height:68px;
        -webkit-transition: all .7s; /* For Safari 3.1 to 6.0 */
        transition: all .7s;
        &:hover,&.active{
            background-color:#fff;
            a{
                color:$cm;
            }
        }

        a{
            .pic{
                display:inline-block;
                width:45px;
                height:50px;
                position:relative;

            }
            .language{
                display:inline-block;
                position:relative;
                width:210px;
                height:50px;
                div{
                    width:100px;
                    font-size:21px;
                }
            }
            display:block;
            width:100%;
            height:68px;
            color:#fff;
            padding:10px;
        }
        &:first-child {
            border-bottom:2px solid #fff;
        }
    }
}

.centered-xy {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}


//

.intro-box{
    padding:20px;

    @media screen and (max-width: 639px) {
        padding:5px;
      }
    .in{
        background-color:#999999;
        padding:20px;
        text-align:center;
        transition: all .7s;
        @media screen and (max-width: 639px) {
            padding:5px;
          }
        .icon-in{
            text-align:center;
            max-width:30%;
            margin:0 auto;
            @media screen and (max-width: 639px) {
                max-width:40%;
                padding-top:10px;
              }

        }
        h2{
            font-family: 'Poppins';
            font-weight: 600;
            @include fluid-type(10, 21, 320, 1900);
            padding:20px;
            @media screen and (max-width: 639px) {
                padding-bottom:5px;
              }
        }

        &:hover{
            background-color:$cm;
        }

    }
    .itext{
        color:#fff;
        @include fluid-type(10, 16, 320, 1900);
        @media screen and (max-width: 480px) {
            display:none;
          }
    }
}
.home-1{
    padding:20px 0;
    h1{
        display:inline-block;
        font-family: 'Poppins';
        font-weight: 600;
        @include fluid-type(14, 48, 320, 1900);
        margin-bottom:20px;
        color:#333333;
        position:relative;
        &:after{
                content:'';
                display:block;bottom:-20px;
                left:0;
                width:110%;
                height:5px;
                background-color:#009966;
                max-width:210px;
                position:absolute;
                @media screen and (max-width: 639px) {
                    left:110%;
                    top:50%;
                    margin-top:-2.5px;
                    width:150px;
                  }
        }
    }
    color:#333333;
}

.text-normal{
    @include fluid-type(10, 21, 320, 1900);
    color:#333333;
}

.home-2{
    background-color:$cm;
    color:#fff;
    display:block;
    .in-ab{
        position:absolute;
        top:0;left:0;
        display:block;
        width:200%;
        height:100%;
        background-size:1000px 569px;
        background-position: left center;
        background-repeat: no-repeat;
        @media screen and (max-width: 990px) {
            background-size:auto 700px;
            background-position: center center;
          }
          @media screen and (max-width: 639px) {
            background-size:auto 500px;
            background-position: center center;
          }
    }
    .in-ab2{
        position:absolute;
        top:0;right:0;
        display:block;
        width:200%;
        height:100%;
        background-size:1000px 569px;
        background-position: right center;
        background-repeat: no-repeat;
        @media screen and (max-width: 990px) {
            background-size:auto 700px;
            background-position: center center;
          }

          @media screen and (max-width: 639px) {
            background-size:auto 500px;
            background-position: center center;
          }
    }

    .in{
        padding-top:30px;
        padding-bottom:30px;
        min-height:350px;
        @include fluid-type(10, 21, 320, 1900);
        @media screen and (max-width: 990px) {
            min-height:290px;
          }
    }
    h2{

        @include fluid-type(14, 48, 320, 1900);
        margin-bottom:30px;
        margin-top:30px;
        display:inline-block;
        font-family: 'Poppins';
        font-weight: 600;
        position:relative;
        &:after{
            content:'';
            display:block;top:50%;
            left:110%;
            width:110%;
            height:5px;
            background-color:#009966;
            width:150px;
            margin-top:-2.5px;
            position:absolute;
            @media screen and (max-width: 639px) {

                width:100px;
              }
              @media screen and (max-width: 480px) {
                width:70px;
              }
    }
    }
    .more{
        padding-top:20px;padding-bottom:20px;
        display:inline-block;
        width:50px;
        a{
            display:block;width:100%;
            color:#009966;
            @include fluid-type(16, 32, 320, 1900);
            transition: all .7s;
            opacity: 1;
            &:hover{
                opacity: .7;
                color:#fff;
            }
        }
    }
}

.home-news{
    padding-top:40px;
    padding-bottom:30px;
    .pic{
        img{
            width:100%;
        }
    }
    h3{
        font-family: 'Poppins';
        color:#333333;
        font-weight: 600;
        @include fluid-type(10, 24, 320, 1920);
        margin:20px 0;
        transition:all .7s;
    }


    .in-text{
        padding:20px 0;
        @include fluid-type(10, 16, 320, 1920);
        color:#333333;

    }
    .more{
        padding-top:20px;padding-bottom:20px;
        display:inline-block;
        width:50px;
        a{
            display:block;width:100%;
            color:#009966;
            @include fluid-type(16, 32, 320, 1900);
            transition: all .7s;
            opacity: 1;
            &:hover{
                opacity: .7;
                color:$cm;
            }
        }
    }
    .inews{
        &:hover{
            h3{
                color:$cm;
            }
            .more{
                a{
                    color:$cm;
                }
            }
        }
    }
}

.update-in{
    @include fluid-type(8, 12, 320, 1920);
    font-style: italic;
    @media screen and (max-width: 480px) {
        font{
            display:block;
        }
      }
}


.title-h{
    font-family: 'Poppins';
    font-weight: 600;
    @include fluid-type(14, 48, 320, 1920);
    display:inline-block;
    position:relative;
    &:after{
        content:'';
        display:block;top:50%;
        left:115%;
        width:110%;
        height:5px;
        background-color:#009966;
        width:150px;
        margin-top:-2.5px;
        position:absolute;

}
}

.more-all{
   margin-top:30px;
   margin-bottom:30px;
   padding:10px 20px;
   min-width:150px;
   border:1px solid #333;
   font-family: 'Montserrat';
   color:#333;
   transition:all .7s;
   @include fluid-type(14, 21, 320, 1920);
   &:hover{
       color:$cm;
       border:1px solid $cm;
   }
}

// ABOUT

.about-1{
    padding-top:20px;
    .title-h{
        color:$cm;
        @include fluid-type(14, 24, 320, 1920);
    }
}

.list-company{
    color:#333;
    margin-bottom:30px;
    @media screen and (max-width: 768px) {
        margin-bottom:0;
      }
    h2{
        font-family: 'Poppins';
        font-weight: 600;
        @include fluid-type(12, 21, 320, 1920);
        color:#333;
        background-color:#fff;
        padding-right:5px;
        display:inline-block;
        margin-bottom:2px;
        position:relative;
        z-index:1;

    }
    .text-in{
        @include fluid-type(10, 18, 320, 1920);
        padding:25px 0 35px 0;
        @media screen and (max-width: 768px) {
            padding:10px 0;
          }
    }
    .border-gray::after{
        position:absolute;
        left:0;bottom:9px;
        content:'';
        display:block;
        width:100%;
        height:1px;
        background-color:#ccc;
        z-index: 0;
    }
}
.pic-engi{
    background-color:#fff;
    border-bottom:5px solid $cm;
    -webkit-box-shadow: 1px 0px 6px -1px rgba(74,74,74,0.68);
    -moz-box-shadow: 1px 0px 6px -1px rgba(74,74,74,0.68);
    box-shadow: 1px 0px 6px -1px rgba(74,74,74,0.68);

    h4{
        padding:15px 10px;
        font-family: 'Poppins';
        font-weight: 600;
        @include fluid-type(12, 16, 320, 1920);
        color:#333;
        margin:0;
    }
    h5{
        color:#999999;
        @include fluid-type(12, 14, 320, 1920);
    }
}

.pic-mission-vision{
    padding:30px 10px;
    color:#fff;
    background-size:cover;
    background-repeat: no-repeat;
    @include fluid-type(12, 16, 320, 1920);

    h3{
        font-family: 'Poppins';
        font-weight: 600;
        @include fluid-type(14, 29, 320, 1920);
        color:$cm;
    }
    .box-center{
        margin:auto;
        max-width:320px;
    }

}
.box-vision-mission{
    position:relative;
    &:after{
        content:'';
        width:1px;
        height:70%;
        position:absolute;
        top:50%;
        left:50%;
        background-color:#999999;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    @media screen and (max-width: 639px) {
       &:after{
           display:none;
       }
      }
}

.text-normal-about{
    @include fluid-type(10, 18, 320, 1920);
    padding-bottom:30px;
    color:#333;
}
.out-button{
    float:left;
    display:block;max-width:400px;
    margin-right:10px;
    position:relative;
    span{
        position:absolute;
        left:15px;
        top:5px;
        color:$cm;
        padding:1px 7px;
        background:#333333;
        font-size:10px;
    }
}
.button-web{
    background-color:$cm;
    color:#fff;
    padding:10px 0;
    margin:5px 0 15px 0;
    width:300px;
    height:60px;
    // width:300px;
    font-family: 'Poppins';
    font-weight: 600;

    .text{

        @include fluid-type(10, 16, 320, 1920);
        padding-right:5px;
        padding-top:5px;
    }
    .border-center{
        width:1px;
        display:block;
        height:30px;
        background-color:#FF6600;
        position:absolute;
        left:50%;
        top:50%;
        -webkit-transition: all 1.2s; /* For Safari 3.1 to 6.0 */
        transition: all 1.2s;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        img{
            max-width:100%;
        }
    }

    &:hover{
        color:#fff;
        background-color:#FF6600;
        .border-center{
            background-color:$cm;
        }
    }
}

.pic-gallery{
    a{
        position:relative;
        display:block;
        &:after{
            transition:all .7s;
        }
        &:before{
            color:$cs;
            transition:all .7s;
        }
        &:hover{
            &:after{
                position:absolute;
                display:block;
                z-index: 2;
                content:'';
                width:100%;height:100%;
                left:0;top:0;
                background: rgba(37, 36, 36, 0.5);

            }
            &:before{
                position:absolute;
                display:block;
                z-index: 3;
                content:'+';
                width:60px;height:60px;
                border-radius: 50%;
                left: 50%;
                top: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                background: rgba(109, 108, 108, 0.5);
                font-size:48px;
                color:$cm;
                text-align:center;
                line-height:60px;
                transition:all .7s;
            }
        }
    }
}
.box-video{
    a{
        position:relative;
        display:block;
        &:after{
            position:absolute;
            display:block;
            z-index: 2;
            content:'';
            width:100%;height:100%;
            left:0;top:0;
            background: rgba(37, 36, 36, 0.5);

        }
        .icon-play{
            text-align: center;
            width:60px;
            height:60px;
            line-height: 60px;
            border-radius: 50%;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            background: rgba(27, 27, 27, 0.7);
            font-size:32px;
            position:absolute;
            z-index: 3;
            color:$cs;

        }
    }
}
.modal-pic{
    display:block;
    &.dark{
        &:after{
            position:absolute;
            display:block;
            z-index: 2;
            content:'';
            width:100%;height:100%;
            left:0;top:0;
            background: rgba(37, 36, 36, 0.5);

        }

        &:before{
            position:absolute;
            display:block;
            z-index: 3;
            content:'+';
            width:60px;height:60px;
            border-radius: 50%;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            background: rgba(27, 27, 27, 0.7);
            font-size:48px;
            color:$cs;
            text-align:center;
            line-height:60px;
            transition:all .7s;
        }

    }
    &:after{
        position:absolute;
        display:block;
        z-index: 2;
        content:'';
        width:100%;height:100%;
        left:0;top:0;
        background: rgba(14, 13, 13, 0.1);

    }
    &:before{
        position:absolute;
        display:block;
        z-index: 3;
        content:'+';
        width:60px;height:60px;
        border-radius: 50%;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background: rgba(109, 108, 108, 0.5);
        font-size:48px;
        color:$cs;
        text-align:center;
        line-height:60px;
        transition:all .7s;
    }

    &:hover{
        &:before{
            width:55px;height:55px;
            line-height:55px;
            color:$cm;
            font-size:42px;
        }
    }
}

.accordion {
    border:0;
    background:transparent;
    &:hover{
        background:transparent;
    }
}

.accordion-title:focus {
    background:transparent;
    color:#999;
}
.accordion-title::before {
    font-size: 26px;
    color:#999;
    top:45%;
    font-family: 'Poppins';
    font-weight: 600;
}
.is-active>.accordion-title::before {
    content: "-";
    font-family: 'Poppins';
    font-weight: 600;
}
.accordion-title {
    padding: 1.25rem 0;
    border: 0;
    position:relative;
    &:after{
        content:'';
        height:1px;
        width:95%;
        display:block;
        top:0;
        left:0;
        background:#ccc;
        z-index: 1;
        margin-top:-14px;
        @media screen and (max-width: 639px) {
            width:90%;
        }
    }
    h6{
       position:relative;
       z-index: 2;
        display:inline-block;
        padding-right:10px;
        background-color:#fff;
        font-family: 'Poppins';
        font-weight: 600;
        color:#999999;
        @include fluid-type(12, 21, 320, 1920);
        @media screen and (max-width: 420px) {
            max-width:300px;
        }

    }

    &:hover{
        background:transparent;
        color:#999;
    }

}

.accordion-content{
    border: 0;
}

:last-child>.accordion-content:last-child,:last-child:not(.is-active)>.accordion-title {
    border-bottom:0;
}

.accordion-content{
    @include fluid-type(10, 18, 320, 1920);
    padding-bottom:30px;
    color:#999;
}


// contact

.in-form{
    position:relative;
    label{
        position:absolute;
        left:10px;
        top:7px;
        color:#999;
        font-family: 'Poppins';
        font-weight: 600;
    }
    input{
        border:0;
        box-shadow:none;
        border-radius:5px;
        background-color:rgba(190, 189, 189,.5);
    }
    textarea{
        border:0;
        border-radius:5px;
        background-color:rgba(190, 189, 189,.5);

    }

}
button.ibutton{
    border-radius:5px;
}

.ibox-address{
    border:1px solid #ccc;
    border-radius: 5px;
    padding:5px 10px;

}

.title-address{
    font-family: 'Poppins';
    font-weight: 600;
    color:$cm;
    position:relative;
    @include fluid-type(12, 18, 320, 1920);


    .box-address{
        display:none;
    }

    &:after{
        content:'-';
        font-size:32px;
        display:block;
        position:absolute;
        right:2px;
        top:-12px;
        font-family: 'Poppins';
        font-weight: 600;
        display:block;
        text-align:center;

    }

    &:before{
        content:'';
        width:1px;height:25px;
        display:block;
        position:absolute;
        right:30px;
        top:-2px;
        background:#ccc;

    }

  &.open{
    border-bottom:1px solid #ccc;
    padding-bottom:5px;
    .box-address{
        display:block;
    }
    &:after{
        content:'+';


    }
  }

}

.box-address{
    line-height: 1.8;
    display:none;
    padding:20px 0;
    @include fluid-type(10, 16, 320, 1920);
    &.open{
            display:block;
      }
      a{
          color:$cs;
      }
}
// career

.icareer{
    border:1px solid #ccc;
    cursor:pointer;
    h4{ padding-top:5px;
        font-family: 'Poppins';
        font-weight: 600;
        @include fluid-type(14, 21, 320, 1920);
    }
    h5{
        font-weight: 500;
        color:$cm;
        @include fluid-type(12, 18, 320, 1920);
    }
    h6{
        color:#999;
        @include fluid-type(10, 16, 320, 1920);
    }
    .read-more{
        font-family: 'Poppins';
        font-weight: 600;
        color:$cs;
        @include fluid-type(10, 16, 320, 1920);
    }

    &:hover{
        opacity: .8;
    }
}
.career{
    color:#333;
    @include fluid-type(10, 16, 320, 1920);
}
.detail-career{
    @include fluid-type(10, 14, 320, 1920);
    line-height:2;
}

.h-cereer{
    font-family: 'Poppins';
    font-weight: 600;
    color:#000;

}

.itab{

    .tabs-title{
        background: #e6e6e6;
        border-bottom:1px solid #b3b1b1;
        a{
            font-family: 'Poppins';
            font-weight: 600;
            color:#333;
            @include fluid-type(12, 21, 320, 1920);
        }
        &.is-active{
            background: #fff;
            a{
                color:$cm;
            }
        }
    }
    .tabs-title>a:focus, .tabs-title>a[aria-selected='true'] {
        background: #fff;
    }
    .tabs-content {
        border:0;
        padding:20px;
        border-radius:5px;
        @include fluid-type(10, 16, 320, 1920);
        -webkit-box-shadow: 3px 4px 15px -5px rgba(84,84,84,1);
        -moz-box-shadow: 3px 4px 15px -5px rgba(84,84,84,1);
        box-shadow: 3px 4px 15px -5px rgba(84,84,84,1);
        h5{
            font-family: 'Poppins';
            font-weight: 600;
            color:#333;
            @include fluid-type(12, 21, 320, 1920);
        }
        .thumbnail{
            border:1px solid #ccc;

        }
    }
}

.detail-news{
    h1{
        font-family: 'Poppins';
        color:$cm;
        font-weight: 600;
        @include fluid-type(10, 24, 320, 1920);
    }
}


.back{
    font-family: 'Montserrat';
    color:#000;
}
.gmap-infowindow-content{
    h3{
        font-family: 'Poppins';
        color:$cm;
        font-weight: 600;
        @include fluid-type(10, 24, 320, 1920);
    }
}

.ipagi{
  display:inline-block;
  li {
    margin-right:5px;
    border-radius: 0;
    font-size: 0.875rem;
    display: inline-block;
    &.active {
        background: #f90;
        color: #fefefe;
        cursor: default;
        a{
          color:#fff;
        }
    }
    &:hover{
      a{
        background-color:#f5f5f5;
      }
    }
}
a {
    display: block;
    padding: 0.1875rem 0.625rem;
    border-radius: 0;
    color: #0a0a0a;
}

}

.custom-modal{
  &.edit-iframe-pic{
    position:relative;
    &.load:after,&.load-success:after{
      top: 0;
      left: 0;
      display:block;
      content:'';
      width:100%;
      height:100%;
      z-index: 2;
      position:absolute;
      background-color:rgba(0,0,0 ,.5 );
    }
    &.load:before{
      position:absolute;
      top:50%;
      left:50%;
      margin-top:-20px;
      margin-left:-50px;
      width:100px;
      height:40px;
      content:'Loading...';
      diplay:block;
      z-index: 3;
      font-style: italic;
      text-align:center;
      font-family: 'Poppins';
      color:$cm;
      font-weight: 600;
    }
    &.load-success:before{
      position:absolute;
      top:50%;
      left:50%;
      margin-top:-20px;
      margin-left:-50px;
      width:100px;
      height:40px;
      content:'Success';
      diplay:block;
      z-index: 3;
      font-style: italic;
      text-align:center;
      font-family: 'Poppins';
      color:#75C46B;
      font-weight: 600;
    }


  }
}
