@import "compass/css3";
@import "fonts";
@import 'settings';
@import 'foundation';
@import 'animate';
@include foundation-global-styles;
@include foundation-forms;
@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
// Helpers
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
@include foundation-prototype-classes;
$cm : #FF9900;
$cs : #009966;
*{
    box-sizing: border-box;
    outline: none;
    font-family: 'Poppins';
}

html,body{
  background-color:#2c3e50;
}


.box-login{

  width:320px;
  min-height:300px;
  display:block;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color:#fff;
  -webkit-box-shadow: -1px 0px 9px -2px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 0px 9px -2px rgba(0,0,0,0.75);
box-shadow: -1px 0px 9px -2px rgba(0,0,0,0.75);
    label{
      font-size:14px;
    }
}
